image: Visual Studio 2022
environment:
  matrix:
    - JDK_VERSION: 11

install:
  - choco install openjdk11
  - java -version

build: off

build_script:
  - java -jar ./artifacts/app-mbank.jar &
  - ./gradlew test --info