image: Visual Studio 2022

environment:
  matrix:
    - JDK_VERSION: 11

install:
  - java -version
  - java -jar ./artifacts/app-mbank.jar &  # запускаем учебный сервис в фоне
  - chmod +x ./gradlew

build: off

build_script:
  - ./gradlew test --info

branches:
  only:
    - main