version: '{build}'

os: Windows Server 2022

environment:
  JAVA_HOME: 'C:\\Program Files\\Java\\jdk-11.0.19'
  PATH: '%JAVA_HOME%\\bin;%PATH%'

install:

  - cmd: start /B java -jar artifacts\app-mbank.jar

build_script:

  - cmd: gradlew.bat test --info

artifacts:
  - path: artifacts\app-mbank.jar

branches:
  only:
    - main