image: Visual Studio 2022

environment:
  matrix:
    - JAVA_HOME: "C:/Program Files/Eclipse Adoptium/jdk-11.0.28.6-hotspot"

install:
  - java -version
  - chmod +x ./gradlew

build_script:
  # Сборка проекта
  - ./gradlew build --info

  # Создаём папку artifacts
  - if not exist artifacts mkdir artifacts

  # Копируем jar в папку artifacts с нужным именем
  - copy build\libs\*.jar src\artifacts\app-mbank.jar

  # Запускаем jar (если нужно)
  - java -jar src\artifacts\app-mbank.jar

branches:
  only:
    - main
